@page "/part-types"

<TynePageTitle Value="Part types" />

<MudContainer MaxWidth="MaxWidth.Large" Class="pt-6">
    <div class="d-flex flex-row px-3">
        <MudText Typo="Typo.h2">Part types</MudText>
        <MudButton OnClick="() => CreateDrawer.OpenAsync()"
                    StartIcon="@Icons.Material.Filled.Add"
                    Variant="Variant.Filled"
                    Size="Size.Large"
                    Color="Color.Primary"
                    Class="ms-auto my-auto px-4">
            New
        </MudButton>
    </div>
    <TyneTable @ref="Table"
               TRequest="SearchPartTypes.Request"
               TResponse="SearchPartTypes.Response"
               Dense="true"
               Hover="true"
               Striped="true">
        <HeaderContent>
            <MudTh>
                TBA
            </MudTh>
            <MudTh>
                TBA
            </MudTh>
            <MudTh>
                TBA
            </MudTh>
            <MudTh>
            </MudTh>
        </HeaderContent>
        <RowTemplate Context="PartType">
            <MudTd>
                @PartType.Name
            </MudTd>
            <MudTd>
                <ActionByAt AtUtc="PartType.CreatedAt" ByName="@PartType.CreatedByName" />
            </MudTd>
            <MudTd>
                <ActionByAt AtUtc="PartType.LastUpdatedAt" ByName="@PartType.LastUpdatedByName" />
            </MudTd>
            <MudTd>
                <div class="d-flex justify-end">
                    <MudButton OnClick="() => EditDrawer.OpenAsync(PartType.Id)"
                               Variant="Variant.Text"
                               Color="Color.Tertiary"
                               StartIcon="@Icons.Material.Filled.Edit">
                        Edit
                    </MudButton>
                </div>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No matching records found</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </TyneTable>
</MudContainer>

<CreatePartTypeDrawer @ref="CreateDrawer" Table="Table" />
<EditPartTypeDrawer @ref="EditDrawer" Table="Table" />
