@namespace Tyne.Blazor
@inherits MudButton

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Href"
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            ClickPropagation="@ClickPropagation">
    <span class="mud-button-label">
        @if (_isLocked && LockStyle is ButtonLockStyle.SpinnerStart)
        {
            <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="tyne-button-locked-progress-circular me-2" />
        }
        @if (!string.IsNullOrWhiteSpace(StartIcon))
        {
            <span class="@StartIconClass">
                <MudIcon Icon="@StartIcon" Size="@(IconSize ?? Size)" Color="@IconColor" />
            </span>
        }
        @ChildContent
        @if (!string.IsNullOrWhiteSpace(EndIcon))
        {
            <span class="@EndIconClass">
                <MudIcon Icon="@EndIcon" Size="@(IconSize ?? Size)" Color="@IconColor" />
            </span>
        }
        @if (_isLocked && LockStyle is ButtonLockStyle.SpinnerEnd)
        {
            <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="tyne-button-locked-progress-circular ms-2" />
        }
    </span>
    @if (_isLocked && LockStyle is ButtonLockStyle.Bar)
    {
        <MudProgressLinear Indeterminate="true" Size="Size.Small" Class="tyne-button-locked-progress-linear" />
    }
</MudElement>
