@page "/examples"

<TynePageTitle Value="Examples" />

<MudContainer MaxWidth="MaxWidth.Medium" Class="pt-6">
    <MudText Typo="Typo.h1" Align="Align.Center">
        Tyne Examples
    </MudText>
    <MudGrid>
        <MudItem Class="d-none d-sm-block" xs="0" sm="2">
        </MudItem>
        <MudItem xs="12" sm="8">
            <MudCard>
                <MudAlert Variant="Variant.Outlined" Severity="Severity.Info">
                    <MudText Typo="Typo.h6">
                        Examples use their own test data which is separate from the rest of the site.
                    </MudText>
                </MudAlert>
            </MudCard>
        </MudItem>
        <MudItem Class="d-none d-sm-block" xs="0" sm="2">
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper>
                <MudPaper Elevation="0" Class="d-flex flex-column align-start py-1" Style="height: 100%;">
                    <div class="d-flex flex-row gap-2 align-center px-2">
                        <MudIcon Icon="@Icons.Material.Filled.FilterList" Color="Color.Primary" Style="width:54px; height:54px;"></MudIcon>
                        <MudText Typo="Typo.h5">Table filters</MudText>
                    </div>
                    <div class="mud-list d-flex flex-column" style="width: 100%;">
                        @RenderLink("./examples/table/intro", "Intro")
                        @RenderLink("./examples/table/simple-filters", "Simple filters")
                    </div>
                </MudPaper>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper>
                <MudPaper Elevation="0" Class="d-flex flex-column align-start py-1" Style="height: 100%;">
                    <div class="d-flex flex-row gap-2 align-center px-2">
                        <MudIcon Icon="@Icons.Material.Filled.SmartButton" Color="Color.Primary" Style="width:54px; height:54px;"></MudIcon>
                        <MudText Typo="Typo.h5">TyneButton</MudText>
                    </div>
                    <div class="mud-list d-flex flex-column" style="width: 100%;">
                        @RenderLink("./examples/buttons", "TyneButtons")
                    </div>
                </MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private RenderFragment RenderLink(string href, string title) =>
        @<MudLink Class="mud-list-item mud-list-item-gutters mud-list-item-clickable mud-list-item-dense mud-ripple"
                  Href="@href"
                  Color="Color.Inherit">
            @title
        </MudLink>;
}
