<MudNavLink Href="">Overview</MudNavLink>

<MudDivider Class="my-2" Light="true" DividerType="DividerType.Middle" />
<MudNavGroup Title="Tyne" ExpandIcon="@Icons.Material.Filled.ExpandMore" Expanded="@UriStart.Equals("tyne", StringComparison.OrdinalIgnoreCase)">
    <MudNavLink Href="tyne/overview">Overview</MudNavLink>
    <div class="my-2"></div>
    @foreach (var pageInfo in CorePages)
    {
        <MudNavLink Href="@pageInfo.Route.TrimStart('/')">@pageInfo.Title</MudNavLink>
    }
</MudNavGroup>

<MudDivider Class="my-2" Light="true" DividerType="DividerType.Middle" />
<MudNavGroup Title="Tyne.EntityFramework" ExpandIcon="@Icons.Material.Filled.ExpandMore" Expanded="@UriStart.Equals("tyne.ef", StringComparison.OrdinalIgnoreCase)">
    <MudNavLink Href="tyne.ef/overview">Overview</MudNavLink>
    <div class="my-2"></div>
    @foreach (var pageInfo in EfPages)
    {
        <MudNavLink Href="@pageInfo.Route.TrimStart('/')">@pageInfo.Title</MudNavLink>
    }
</MudNavGroup>

<MudDivider Class="my-2" Light="true" DividerType="DividerType.Middle" />
<MudNavGroup Title="Tyne.UI" ExpandIcon="@Icons.Material.Filled.ExpandMore" Expanded="@UriStart.Equals("tyne.ui", StringComparison.OrdinalIgnoreCase)">
    <MudNavLink Href="tyne.ui/overview">Overview</MudNavLink>
    <div class="my-2"></div>
    @foreach (var pageInfo in UiPages)
    {
        <MudNavLink Href="@pageInfo.Route.TrimStart('/')">@pageInfo.Title</MudNavLink>
    }
</MudNavGroup>
