@page "/tyne/validation"
@attribute [DocsPage(PageCategory.Core, "Validation")]

<TyneTitle Value="Validation" />

<MudText Typo="Typo.h3">
    Validation
</MudText>

<DocSection>
    <Title>Introduction</Title>
    <ChildContent>
        <MudText Typo="Typo.body1">
            Tyne's validation is integrated with <MudLink Href="https://docs.fluentvalidation.net/en/latest/">FluentValidation</MudLink>.
        </MudText>
    </ChildContent>
</DocSection>

<DocSection>
    <Title>@Keyword("BaseValidatedAction")</Title>
    <ChildContent>
        <MudText Typo="Typo.body1">
            @Keyword("BaseValidatedAction") provides an implementation of <MudLink Href="tyne/actions">@Keyword("BaseAction")</MudLink> which only executes if some @Keyword("TValidator") is valid.
        </MudText>
        <SourceCode Type="typeof(CreateLocation1)"/>
    </ChildContent>
</DocSection>

<DocSection>
    <Title>@Keyword("AbstractValidator<T>.IsValid")</Title>
    <ChildContent>
        <MudText Typo="Typo.body1">
            The extension method @Keyword("AbstractValidator<T>.IsValid") can be used to check a validator and produce a result populated with form validation error metadatas if the validator fails.
        </MudText>
        <SourceCode Type="typeof(CreateLocation2)" />
    </ChildContent>
</DocSection>
