@page "/data/part-types"

<TynePageTitle Value="Part types" />

<MudContainer MaxWidth="MaxWidth.Medium" Class="pt-6">
    <div class="d-flex flex-row px-3">
        <MudText Typo="Typo.h2">Part types</MudText>
        <MudButton OnClick="() => CreateDrawer.OpenAsync()"
                    StartIcon="@Icons.Material.Filled.Add"
                    Variant="Variant.Filled"
                    Size="Size.Large"
                    Color="Color.Primary"
                    Class="ms-auto my-auto px-4">
            New
        </MudButton>
    </div>
    <TyneAerospaceTable @ref="Table"
               TRequest="SearchPartTypes.Request"
               TResponse="SearchPartTypes.Response"
               Dense="true"
               Hover="true"
               Striped="true">
        <ValueFilters>
            <TyneFilterValue TRequest="SearchPartTypes.Request" TValue="string" For="m => m.Name" PersistAs="*" />
            <TyneFilterValue TRequest="SearchPartTypes.Request" TValue="DateTime?" For="m => m.CreatedAtMin" PersistAs="cs" />
            <TyneFilterValue TRequest="SearchPartTypes.Request" TValue="DateTime?" For="m => m.CreatedAtMax" PersistAs="ce" />
            <TyneFilterValue TRequest="SearchPartTypes.Request" TValue="DateTime?" For="m => m.LastUpdatedAtMin" PersistAs="ue" />
            <TyneFilterValue TRequest="SearchPartTypes.Request" TValue="DateTime?" For="m => m.LastUpdatedAtMax" PersistAs="us" />
        </ValueFilters>
        <HeaderContent>
            <TyneStringColumnHeader TRequest="SearchPartTypes.Request" TResponse="SearchPartTypes.Response" For="m => m.Name" OrderBy="*">
                Name
            </TyneStringColumnHeader>
            <TyneDateRangeColumnHeader TRequest="SearchPartTypes.Request" TResponse="SearchPartTypes.Response" ForMin="m => m.CreatedAtMin" ForMax="m => m.CreatedAtMax" OrderBy="@nameof(SearchPartTypes.Response.CreatedAt)" Label="Created at">
                Created
            </TyneDateRangeColumnHeader>
            <TyneDateRangeColumnHeader TRequest="SearchPartTypes.Request" TResponse="SearchPartTypes.Response" ForMin="m => m.LastUpdatedAtMin" ForMax="m => m.LastUpdatedAtMax" OrderBy="@nameof(SearchPartTypes.Response.LastUpdatedAt)" Label="Last updated at">
                Updated
            </TyneDateRangeColumnHeader>
            <MudTd />
        </HeaderContent>
        <RowTemplate Context="PartType">
            <MudTd>
                @PartType.Name
            </MudTd>
            <MudTd>
                <ActionByAt AtUtc="PartType.CreatedAt" ByName="@PartType.CreatedByName" />
            </MudTd>
            <MudTd>
                <ActionByAt AtUtc="PartType.LastUpdatedAt" ByName="@PartType.LastUpdatedByName" />
            </MudTd>
            <MudTd>
                <div class="d-flex justify-end">
                    <MudButton OnClick="() => EditDrawer.OpenAsync(PartType.Id)"
                               Variant="Variant.Text"
                               Color="Color.Tertiary"
                               StartIcon="@Icons.Material.Filled.Edit">
                        Edit
                    </MudButton>
                </div>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No matching records found</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </TyneAerospaceTable>
</MudContainer>

<CreatePartTypeDrawer @ref="CreateDrawer" Table="Table" />
<EditPartTypeDrawer @ref="EditDrawer" Table="Table" />
